<div id="flash-messages-section">
 <% flash.each do |key, value| %>
  <div class="<%= flash_class(key) %> no-radius">
   <a href="#" data-dismiss="alert" class="close">×</a>
   <ul class="list-unstyled">
    <li>
     <strong><%= flash_prefix(key)%></strong>&nbsp;<%= value %>
    </li>
   </ul>
  </div>
 <% end %>
</div>